:root {
    --bg-color: #F5F5F5;
    --text-color: #3F5272;
    --md-char-color: #59697F; 
    --meta-content-color: #4169E1;

    --primary-color: #87CEFA;
    --primary-btn-border-color: #EEEEEE;
    --primary-btn-text-color: var(--text-color);

    --window-border: 1px solid var(--active-file-border-color);

    --active-file-bg-color: var(--bg-color);
    --active-file-text-color: var(--text-color);
    --active-file-border-color: #E0E0E0;

    --side-bar-bg-color: var(--bg-color);
    --item-hover-bg-color: var(--primary-btn-border-color);
    --item-hover-text-color: var(--primary-btn-text-color);

    --monospace: monospace;
}

/* Font Definition */
/* Latin */
@font-face {
    font-family: 'Laila';
    font-weight: normal;
    src: local('Laila Regular'), local('Laila-Regular'), url('./rain/Laila-Regular.ttf')
}

@font-face {
    font-family: 'Lusitana Bold';
    font-weight: normal;
    src: local('Lusitana Bold'), local('Lusitana-Bold'), url('./rain/Lusitana-Bold.ttf')
}

@font-face {
    font-family: 'Ubuntu Mono';
    font-weight: normal;
    src: local('Ubuntu Mono'), url('./rain/UbuntuMono-R.ttf')
}

/* Chinese */
@font-face {
    font-family: "Kai";
    font-weight: normal;
    src: local('Kaiti'), url('./rain/Kaiti.ttf')
}

@font-face {
    font-family: 'LiShu';
    font-weight: normal;
    src: local('Lisu'), url('./rain/Lisu.TTF')
}

/* Settings for editor */
html {
    font-size: 18px;
}

body {
    background: var(--bg-color);
    font-family: 'Laila', 'Kai';
    line-height: 1.5;
    font-weight: normal;
    color: var(--text-color);
}

#write {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
}

a {
    color: var(--meta-content-color);
    font-style: italic;
}

a:hover, a:active {
    color: var(--primary-color);
}

blockquote {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 10px;
    border-left: 6px solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: var(--active-file-border-color);
}

code {
    background: var(--active-file-border-color);
    font-family: 'Ubuntu Mono';
    padding: 5px;
    border-radius: 3px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lusitana Bold', 'LiShu';
    line-height: 2;
    color: #263144;
}

h1 {
    text-align: center;
    font-size: 32px;
}

h1 span::before, h1 span::after {
    content: "  —  ";
}

h2 {
    font-size: 32px;
}

table {
    margin: 10px;
    padding: 0;
    word-break: initial;
}

table tr {
    margin: 0;
    padding: 0;
    background: var(--bg-color);
}

table tr:nth-child(2n), thead {
    background-color: #DBDBDB;
}

table tr th {
    font-family: 'Lusitana Bold', 'LiShu';
    font-weight: bold;
    font-size: 20px;
    border-top: solid 4px var(--text-color);
    border-bottom: solid 2px var(--text-color); 
    text-align: left;
    margin: 0;
    padding: 10px 10px;
}

table tr td {
    text-align: left;
    margin: 0;
    padding: 5px 10px;
}

table tr td:last-child {
    border-bottom-right-radius: 5px;
}

mark {
    background: var(--primary-color);
    padding-left: 5px;
    padding-right: 5px;
}

ol {
    list-style: decimal;
}

ol ol {
    list-style: lower-latin;
}

ul {
    list-style: disc;
}

ul ul {
    list-style: circle;
}

/* Code Block */
.cm-s-inner,.md-fences {
    background-color: var(--active-file-border-color);
    color: var(--text-color);
    font-family: 'Ubuntu Mono';
    font-size: 18px;
    line-height: 1.5;
    border-radius: 5px;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.cm-s-inner .CodeMirror-gutters {
    background: var(--active-file-border-color);
    color: var(--text-color);
    border-right: solid 1px var(--bg-color);
}

  .cm-s-inner .CodeMirror-guttermarker, .cm-s-inner .CodeMirror-guttermarker-subtle, .cm-s-inner .CodeMirror-linenumber {
    color: var(--text-color);
}

.cm-s-inner .CodeMirror-cursor {
    border-left: 1px solid var(--text-color);
}

.cm-s-inner div.CodeMirror-selected,.cm-s-inner.CodeMirror-focused div.CodeMirror-selected, .cm-s-inner .CodeMirror-line::selection, .cm-s-inner .CodeMirror-line > span::selection, .cm-s-inner .CodeMirror-line > span > span::selection, .cm-s-inner .CodeMirror-line::-moz-selection, .cm-s-inner .CodeMirror-line > span::-moz-selection, .cm-s-inner .CodeMirror-line > span > span::-moz-selection {
    background: var(--primary-color);
}
  
.cm-s-inner .CodeMirror-activeline-background {
    background: #EEEEEE;
}

.cm-s-inner .cm-keyword {
    font-style: italic;
    color: var(--text-color);
}

.cm-s-inner .cm-operator, .cm-s-inner .cm-def {
    font-weight: bold;
    color: var(--text-color);
}

.cm-s-inner .cm-variable, .cm-s-inner .cm-builtin {
    color: var(--text-color)
}

.cm-s-inner .cm-variable-2, .cm-s-inner .cm-property, .cm-s-inner .cm-attribute {
    color: #4682B4;
}

.cm-s-inner .cm-variable-3, .cm-s-inner .cm-qualifier {
    color: #3A539B;
}

.cm-s-inner .cm-atom, .cm-s-inner .cm-number {
    color: #4169E1;
}

.cm-s-inner .cm-string, .cm-s-inner .cm-string-2, .cm-s-inner .cm-tag, .cm-s-inner .cm-meta { 
    color: #7B68EE;
}

.cm-s-inner .cm-comment {
    color: #808080;
    font-style: italic;
}

.cm-s-inner .cm-tag, .cm-s-inner .cm-error {
    color: #800000
}

.cm-s-inner .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: #3A539B !important;
}

/* Settings of sidebar */
.megamenu-menu {
    background: var(--bg-color);
    color: var(--text-color);
    border-right: dashed 1px var(--text-color);
    box-shadow: none;
}

.megamenu-menu-header {
    border: none;
    background: var(--text-color)
}

.megamenu-menu-list li a {
    font-family: 'Lusitana Bold', 'Kai';
    font-size: 16px;
    font-style: normal;
}

.megamenu-menu-list li a:hover, .megamenu-menu-list li a.active {
    color: var(--primary-btn-text-color);
}

#megamenu-back-btn {
    color: var(--bg-color);
    border-color: var(--bg-color);
}
